*{
    box-sizing: border-box;
}

#fullContent{
    background-color: rgb(255, 255, 255);
}
header{
    text-align: center;
    height: 100px;
    background-color: rgb(123, 171, 155);
}

h1{
    font-size: 60px;
    color: black;
}

img{
    height: 50px;
    width: 50px;
}

.custom-card{
    background-color: rgb(171, 171, 230);
    height: 200px;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    flex-direction: column;   
}
#city{
    width: 90%;
}

.big-data-card{
    height: 250px;
    width: 95%;
    background-color: rgb(174, 174, 174);
    border-radius: 15px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.big-data-card div{
    font-size: 25px;
    margin-left: 20px;
}

.hidden{
    visibility: hidden;
}
.card-data{
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    width: 95%;
    background-color: rgb(214, 214, 214);
    border: 3px solid black;
}
#custom-btn{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#custom-btn button{
    margin: 5px;
    border-radius: 5px;
}

